GOERLI_URL="https://eth-goerli.g.alchemy.com/v2/zuz_bp19vORxm7JIu1-F9B9X6qPqQsOH"
BSC_TESTNET_URL="https://data-seed-prebsc-1-s1.binance.org:8545"
BSC_MAINNET_URL="https://bsc-dataseed.binance.org/"
PRIVATE_KEY=
ETHER_SCAN_KEY=
BSC_SCAN_KEY=